@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 900px;
}

.left-side {
    color: #fff;
     width: 50%;
     margin-top: 80px;
     padding-right: 60px;
}

.right-side {
    width: 50%;
}

.left-side h1 {
    margin-bottom: 30px;
    font-weight: 600;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.form {
    display: block;
}

.inputs input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 4px;
}

.inputs input:focus {
    outline: none !important;
    border-color: purple;
}

.trial-btn, .claim-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 4px;
    border: 0;
} 

.trial-btn, .claim-btn:hover {
    cursor: pointer;
}
.trial-btn {
    background: purple;
    color: #fff;
}

.claim-btn {
     background: hsl(154, 59%, 51%);
     color: #fff;
}

span {
    margin-left: 5px;
}

.check span {
    font-size: 12px;
}

.check a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}


@media (max-width: 426px) {
    body {
        background-color: hsl(0, 100%, 74%);
        background-image: url(images/bg-intro-mobile.png);
    }

    .container {
        display: block;
    }

    .trial-btn p {
        width: 60%;
    }

    .claim-btn {
        padding: 15px 0 ;
    }


}